
 <!-- Heading -->
 <div class="sidebar-heading">
    các chức năng
</div>

 <!-- Divider -->
 <hr class="sidebar-divider my-0">

 <!-- Nav Item - Pages Collapse Menu -->
 <li class="nav-item" *ngFor="let item of result; let i = index" >

    <a *ngIf="item.submenu.length" class="nav-link collapsed" href="#" data-toggle="collapse" attr.data-target="#collapse{{i}}"
        attr.aria-expanded="{{true}}" attr.aria-controls="collapse{{i}}" >
        <i class="{{item.awesomeIcon}}"></i>
        <span>{{item.title}}</span>
    </a>

    <a *ngIf="!item.submenu.length" class="nav-link" routerLink="{{item.parentLink}}" >
        <i class="{{item.awesomeIcon}}"></i>
        <span>{{item.title}}</span>
    </a>

    <div *ngIf="item.submenu.length" id="collapse{{i}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a *ngFor="let menu of result[i].submenu"  class="collapse-item" routerLink="{{menu.link}}"  routerLinkActive="active" >{{menu.childtitle}}</a>
        </div>
    </div>
</li>

 <!-- Divider -->
 <hr class="sidebar-divider my-0">

 