<h4>Thông tin chung</h4>
<hr>


<!-- Content Row -->
<div class="row">
    
    <!--  -->
    <div class="col-xl-6 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Thông báo mới !</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2"  >
                    <canvas id="myPieChart"></canvas>
                </div>
                <div class="mt-4 text-center small">
                   
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="col-xl-6 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Hóa đơn chờ thanh toán !</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2"  >
                    <canvas id="myPieChart"></canvas>
                </div>
                <div class="mt-4 text-center small">
                   
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="row">
  
    <!--  -->
    <div class="col-xl-12 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách phòng đang thuê !</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2"  >
                    <canvas id="myPieChart"></canvas>
                </div>
                <div class="mt-4 text-center small">
                   
                </div>
            </div>
        </div>
    </div>
</div>



