<h4>Thông tin chung</h4>
<hr>
<!-- Content Row -->
<div class="row">
  
    <!--  -->
    <div class="col-xl-12 col-lg-5">
        <div class="card shadow mb-4"  >
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách phòng đang thuê !</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
               
                <div class="container-fluid" >
                    <div class="row ">
                            <div *ngFor="let room of rooms; index as i" class="card m-2" style="width: 230px;" (click)="openDetailRoomModal(room.id)">
                                <div  Class="card-header  text-light bg-primary">
                                        <i class="fas fa-home"></i>
                                    Nhà trọ {{room.branchName}} <br>
                                    <div class="text-center font-weight-bold h5"> Phòng {{room.areaName}}.{{room.roomNumber}}</div>
                                    
                                    </div>
                                <div class="card-body" >
                                    <p class="card-text"  placement="top" ngbTooltip="Giá cho thuê" [openDelay]="300" [closeDelay]="500">
                                        <i class="fas fa-dollar-sign"></i> : {{room.rentalPrice |FormatVndPipe}} 
                                    </p>
                                    <p class="card-text" placement="top" ngbTooltip="Diện tích" [openDelay]="300" [closeDelay]="500"> 
                                        <i class="fas fa-ruler-combined"></i> : {{room.acreage }} m<sup>2</sup>
                                    </p>
                                    <p class="card-text" placement="top" ngbTooltip="Trạng thái thanh toán" [openDelay]="300" [closeDelay]="500"> 
                                        <i class="fas fa-user"></i> : 
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!--modal chi tiết phòng -->
<ng-template #detailRoomModal let-modal >

    <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" id="deleteRoomModalLabel" >Chi tiết phòng {{detailRoom.roomNumber}}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span class="text-light" aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body ">
        <div class="row">
            <div class="col-12 col-lg-6 p-0">
                <div class="card m-2">
                    <h5 class="text-center">Thông tin phòng</h5>
                    <dl class="row m-3">
                        <dt class="col-sm-4  ">
                            Giá cho thuê :
                        </dt>
                        <dd class = "col-sm-8">
                            {{detailRoom.price | FormatVndPipe}}    
                        </dd>
                        <dt class="col-sm-4 ">
                            Số người ở tối đa :
                        </dt>
                        <dd class="col-sm-8">
                            {{detailRoom.maxMember}}
                        </dd>
                        <dt class="col-sm-4 ">
                            Diện tích :
                        </dt>
                        <dd class="col-sm-8">
                            {{detailRoom.acreage}} m<sup>2</sup>
                        </dd>
                        <dt class="col-sm-4 ">
                            Gác lửng :
                        </dt>
                        <dd class="col-sm-8">
                            {{detailRoom.isMezzanine==true? "có":"không"}}
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="col-12 col-lg-6 p-0">
                
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-0">
                <div class="card m-2">
                    <h5 class="text-center">Thành viên</h5>
                    <table class="table table-responsive-lg table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Họ tên</th>
                                <th>Giới tính</th>
                                <th>Ngày sinh</th>
                                <th>CCCD</th>
                                <th>Địa chỉ thường trú</th>
                                <th>Nghề nghiệp</th>
                                <th>Ngày đến</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="detailRoom.contracts.members.length > 0" >
                               <tr *ngFor="let member of detailRoom.contracts.members; index as i;">
                                    <td>{{i+1}}</td>
                                    <td>{{member.fullName}} <br><small *ngIf="member.isRepresent==true" class="text-info">người đại diện </small></td>
                                    <td>{{member.gender==false?"Nữ":"Nam"}}</td>
                                    <td>{{member.dateOfBirth}}</td>
                                    <td>{{member.cccd}}</td>
                                    <td>{{member.permanentAddress}}</td>
                                    <td>{{member.job}}</td>
                                    <td>{{member.commencingOn}}</td>
                                </tr> 
                            </ng-container>
                        </tbody>
                    </table>
                    
                </div>
            </div>

            <div class="col-12  p-0">
                <div class="card m-2">
                    <h5 class="text-center">Thiết bị</h5>
                    <table  class="table table-responsive-lg table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên thiết bị</th>
                                <th>Số lượng</th>
                                <th>Ghi chú</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of detailRoom.devices; index as i">
                                <td>{{i+1}}</td>
                                <td>{{item.deviceName}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modal.close()" >Hủy</button>
    </div>
</ng-template>




