
<div class="card shadow p-3"   >
  <h5>Danh sách hóa đơn </h5>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h5 class="navbar-brand active mb-1">Bộ lọc</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarm" aria-controls="navbarm" aria-expanded="false" aria-label="Toggle navigation">
      <span class="" role="button"><i class="fas fa-tools text-primary"></i></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarm">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item m-2">
            <label>Trạng thái </label>
              <select class="form-control " [(ngModel)]="status_filter" (change)="rerender()" placement="top" ngbTooltip="Trạng thái" [openDelay]="300" [closeDelay]="500"> 
                  <option value='none'>-- tất cả --</option>
                  <option value='unpaid'>Chưa thành toán</option>
                  <option value='paid'>Đã thanh toán</option>
              </select>
          </li>
          <li class="nav-item m-2">
            <label>Tháng</label>
            <select id='gMonth2' [(ngModel)]="month_filter" (change)="rerender()" class="form-control" placement="top" ngbTooltip="Tháng" [openDelay]="300" [closeDelay]="500">
                <option selected value='0'>-- chọn tháng --</option>
                <option value='1'>Tháng 1</option>
                <option value='2'>Tháng 2</option>
                <option value='3'>Tháng 3</option>
                <option value='4'>Tháng 4</option>
                <option value='5'>Tháng 5</option>
                <option value='6'>Tháng 6</option>
                <option value='7'>Tháng 7</option>
                <option value='8'>Tháng 8</option>
                <option value='9'>Tháng 9</option>
                <option value='10'>Tháng 10</option>
                <option value='11'>Tháng 11</option>
                <option value='12'>Tháng 12</option>
            </select> 
        </li>
        <li class="nav-item m-2">
            <label>Năm </label>
            <select id='gMonth2' [(ngModel)]="year_filter" (change)="rerender()" class="form-control" placement="top" ngbTooltip="Năm" [openDelay]="300" [closeDelay]="500">
                <option selected value='0'>-- chọn năm --</option>
                <option *ngFor="let item of [].constructor(10), index as i" value='{{i+2023}}' >{{i+2023}}</option>
            </select> 
        </li>
        <li class="nav-item m-2">
            <label>Nhà trọ </label>
          <select id='gBranch' [(ngModel)]="branch_filter" (change)="rerender()" class="form-control" placement="top" ngbTooltip="Nhà trọ" [openDelay]="300" [closeDelay]="500">
              <option selected value='0'>-- tất cả nhà trọ --</option>
              <option *ngFor="let item of branches, index as i" value='{{item.id}}' >{{item.branchName}}</option>
          </select> 
        </li>
          
        </ul>
        
     
      </div>
  </nav>

  <div class="table-responsive p-1">
      <table datatable [dtOptions]="dtOptions" class=" row-border hover display table"></table>
  </div>
</div>

<!--modal chi tiết-->
<ng-template #InvoiceDetailModal let-modal  >

    <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" id="deleteRoomModalLabel">Thông tin hóa đơn </h5>
      <button type="reset" form="area-form"  class="close" aria-label="Close" (click)="modal.dismiss()">
        <span class="text-light" aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div id="invoice_table" class="modal-body container-fluid">
       
       
        <dl class="row ">
            <div class="col-12 text-center">
                <h4 class=""> Hóa đơn nhà trọ {{invoice.branchName}}</h4>
                <p>DH/{{invoice.id}}</p>
                <p>tháng {{invoice.month}}, năm {{invoice.year}}</p>
            </div>
            <dt class="col-sm-3  ">
                Số phòng:
            </dt>
            <dd class = "col-sm-9">
                {{invoice.roomNumber}}
            </dd>
            <dt class="col-sm-3 ">
                Tên người thuê:
            </dt>
            <dd class="col-sm-9">
               {{invoice.lessee}}
            </dd>
            <hr>
            <table  class="table table-responsive-lg table-bordered table-striped ">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên dịch vụ</th>
                        <th>Chỉ số đầu</th> 
                        <th>Chỉ số đầu</th> 
                        <th>Số lượng</th>
                        <th >Đơn giá</th>
                        <th >Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Tiền phòng</td>
                        <td></td>
                        <td></td>
                        <td>1</td>
                        <td class="text-right ">{{invoice.rentalPrice |FormatVndPipe}}</td>
                        <td class="text-right text-primary">{{invoice.rentalPrice |FormatVndPipe}}</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Tiền điện</td>
                        <td>{{invoice.oldElectricNumber}}</td>
                        <td>{{invoice.newElectricNumber}}</td>
                        <td>{{invoice.newElectricNumber-invoice.oldElectricNumber}} (Kwh)</td>
                        <td class="text-right ">{{invoice.electricityCosts |FormatVndPipe}}</td>
                        <td class="text-right text-primary">{{(invoice.newElectricNumber-invoice.oldElectricNumber)*invoice.electricityCosts |FormatVndPipe}} </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Tiền nước</td>
                        <td>{{invoice.oldWaterNumber}}</td>
                        <td>{{invoice.newWaterNumber}}</td>
                        <td>{{invoice.newWaterNumber-invoice.oldWaterNumber}} (m<sup>2</sup>)</td>
                        <td class="text-right ">{{invoice.waterCosts |FormatVndPipe}}</td>
                        <td class="text-right text-primary">{{(invoice.newWaterNumber-invoice.oldWaterNumber)*invoice.waterCosts |FormatVndPipe}}</td>
                    </tr>

                    <tr *ngFor="let serviceItem of invoice.serviceItems; index as i">

                        <td>{{i+4}}</td>
                        <td>{{serviceItem.serviceName}}</td>
                        <td colspan="2"><small>ghi chú :</small> {{serviceItem.description}} </td>
                        
                        <td>{{serviceItem.quantity}}</td>
                        <td class="text-right">{{serviceItem.price |FormatVndPipe}}</td>
                        <td class="text-right text-primary">{{serviceItem.price*serviceItem.quantity |FormatVndPipe}}</td>
                    </tr>
                   
                </tbody>
            </table>

            
            <h4 class="col-12 text-right">
                Tổng : <span class="text-danger">{{invoice.totalPrice |FormatVndPipe}} </span>
            </h4>
            
        </dl>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-success" styleSheetFile="assets/css/sb-admin-2.min.css" printSectionId="invoice_table" ngxPrint>In</button>
        <button type="button" *ngIf="!invoice.isApproved"  class="btn btn-primary" (click)="openInvoicePayModal(invoice.id)" >Thanh toán</button>
        <button type="button"  class="btn btn-outline-primary" (click)="modal.close()" >Hủy</button>
    </div>

</ng-template>



<!--modal xác nhận thanh toán-->
<ng-template #InvoiceAgreeModal let-modalAgree  >

    <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" id="deleteRoomModalLabel">Xác nhận thanh toán</h5>
        <button type="reset"  class="close" aria-label="Close" (click)="modalAgree.dismiss()">
            <span class="text-light" aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body container-fluid">
        <h5>Bạn có chắc chắn thanh toán ?</h5> 
    </div>
    
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger" (click)=" AgreeToPayInvoice()" >Đồng ý</button>
        <button type="reset"  class="btn btn-outline-primary" (click)="modalAgree.close()" >Hủy</button>
    </div>

</ng-template>



