<div>
    title
</div>


<div>
    <ul class="nav nav-tabs" id="example-tabs" role="tablist">
        <li class="nav-item">
            <a id="tab1" class="nav-link active" data-toggle="tab" role="tab"  href="#pane-tab-1">Tab1dasasasasa</a>
        </li>
        <li class="nav-item">
            <a id="tab2" class="nav-link" data-toggle="tab" role="tab"  href="#pane-tab-2">Tab2sasasasas</a>
        </li>
        <li class="nav-item">
            <a id="tab3" class="nav-link" data-toggle="tab" role="tab"  href="#pane-tab-3">Tab3asasasasas</a>
        </li>
        
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="pane-tab-1" role="tabpanel" aria-labelledby="tab1">
            Nội dung Tab1 - HTML code
        </div>
        <div class="tab-pane fade" id="pane-tab-2" role="tabpanel" aria-labelledby="tab2">
            Nội dung Tab2 - HTML code
        </div>
        <div class="tab-pane fade" id="pane-tab-3" role="tabpanel" aria-labelledby="tab3">
            Nội dung Tab3 - HTML code
        </div>
    </div>
</div>
