<div class="container bootstrap snippet">
   
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

            <div class="text-center">
                <img src="../../../../assets/image/avatar_2x.png" class="avatar rounded-circle img-thumbnail" alt="avatar">
                <h6>Cập nhật ảnh đại diện</h6>
                <input type="file" class="text-center center-block file-upload" >
            </div>
            <hr>
            <br>
        </div><!--/col-3-->

    	<div class="col-sm-9">
          
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <div class="row">
                    <div class="col-sm-10"><h3>Thông tin tài khoản</h3></div>
                </div>
                <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="username"><h5>Tên tài khoản</h5></label>
                              <input type="text" class="form-control form-control-user" 
                              name="username" id="username" 
                              [(ngModel)]="userProfile.userName" disabled
                               >
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="fullname"><h5>Họ tên</h5></label>
                              <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Họ tên"
                              [(ngModel)]="userProfile.fullName"
                               >
                          </div>
                      </div>
                      <div class="form-group">
                          
                        <div class="col-xs-6">
                            <label for="dateofbirth"><h5>Ngày sinh</h5></label>
                            <input type="date" class="form-control" name="dateofbirth" id="dateofbirth" placeholder="Ngày sinh"
                            [(ngModel)]="userProfile.dateOfBirth"
                             >
                        </div>
                    </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h5>Email</h5></label>
                              <input type="text" class="form-control" name="email" id="email" placeholder="địa chỉ email" 
                              [(ngModel)]="userProfile.email"
                              >
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="phone"><h5>Số điện thoại</h5></label>
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="Số điện thoại" 
                              [(ngModel)]="userProfile.phone"
                              >
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="cccd"><h5>Số căn cước công dân</h5></label>
                              <input type="text" class="form-control" name="cccd" id="cccd" placeholder="Số căn cước công dân" 
                              [(ngModel)]="userProfile.ccccd"
                              >
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="address"><h5>Địa chỉ</h5></label>
                              <input type="text" class="form-control" name="address" id="address" placeholder="Địa chỉ" 
                              [(ngModel)]="userProfile.address"
                              >
                          </div>
                      </div>
                      <hr>
                      
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-primary" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Cập nhật</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Đặt lại </button>
                            </div>
                      </div>
              	</form>
              
              <hr>
              
              
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->