<div  id="create-branch-page"  class="container-fluid justify-content-center  p-0 m-0 mb-3">
    <div id="error-message"></div>
    <div class="row  justify-content-center m-0">
        <div class="col-12 col-lg-6 col-md-12 col-sm-12 col-xs-12 card p-0 shadow border ">
            <div class="card-header form-header p-0 ">
                <h4 class="text-center font-weight-bold m-3 ">Thêm hợp đồng</h4>
            </div>
            <div class="card-body">
                <form class="form" novalidate  (ngSubmit)=" onSubmit()" [formGroup]="frcontract"  #f="ngForm" >
                    <div class="text-center">
                        <h6 class=" text-primary" >Thông tin chung</h6>
                    </div>
                    <hr>
                    <div class="container-fluid   p-0 m-0 ">
                        <div class="row">
                            <div class="col-12 col-lg-6 col-md-12 col-sm-12 col-xs-12  ">
                                <div class="text-center font-weight-bold mb-3">
                                    <h6 class=" text-primary font-weight-bold" >Bên A</h6>
                                    <small>(Bên cho thuê)</small>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="a_lessor"><h5>Tên người cho thuê<sup class="text-danger">(*)</sup></h5></label>
                                        <input type="text" class="form-control form-control-user"  placeholder="Tên người cho thuê"
                                        name="a_lessor" id="a_lessor"  formControlName="a_lessor"
                                         >
                                    </div>
                                    <div  *ngIf=" frcontract.controls['a_lessor']?.hasError('required')
                                    && ( frcontract.controls['a_lessor']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                                    >Vui lòng nhập tên người cho thuê!</div>
                                </div>
            
                                <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="a_dateofbirth"><h5>Ngày sinh<sup class="text-danger">(*)</sup></h5></label>
                                        <input type="date" class="form-control" name="a_dateofbirth" id="a_dateofbirth" placeholder="Mô tả"
                                         formControlName="a_dateofbirth"
                                         >
                                    </div>
                                    <div  *ngIf=" frcontract.controls['a_dateofbirth']?.hasError('required')
                                    && ( frcontract.controls['a_dateofbirth']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                                    >Vui lòng nhập ngày sinh !</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="a_cccd"><h5>Căn cước công dân<sup class="text-danger">(*)</sup></h5></label>
                                        <input type="text" class="form-control" name="a_cccd" id="a_cccd" placeholder="Căn cước công dân"
                                         formControlName="a_cccd"
                                         >
                                    </div>
                                    <div  *ngIf=" frcontract.controls['a_cccd']?.hasError('required')
                                    && ( frcontract.controls['a_cccd']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                                    >Vui lòng nhập căn cước công dân !</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="a_dateofissuance"><h5>Ngày cấp cccd<sup class="text-danger">(*)</sup></h5></label>
                                        <input type="date" class="form-control" name="a_dateofissuance" id="a_dateofissuance" 
                                         formControlName="a_dateofissuance"
                                         >
                                    </div>
                                    <div  *ngIf=" frcontract.controls['a_dateofissuance']?.hasError('required')
                                    && ( frcontract.controls['a_dateofissuance']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                                    >Vui lòng nhập ngày cấp căn cước công dân !</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="a_placeofissuance"><h5>Nơi cấp cccd<sup class="text-danger">(*)</sup></h5></label>
                                        <input type="text" class="form-control" name="a_placeofissuance" id="a_placeofissuance" placeholder="Nơi cấp cccd"
                                         formControlName="a_placeofissuance"
                                         >
                                    </div>
                                    <div  *ngIf=" frcontract.controls['a_placeofissuance']?.hasError('required')
                                    && ( frcontract.controls['a_placeofissuance']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                                    >Vui lòng nhập nơi cấp căn cước công dân !</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="a_permanentaddress"><h5>Địa chỉ thường trú<sup class="text-danger">(*)</sup></h5></label>
                                        <input type="text" class="form-control" name="a_permanentaddress" id="a_permanentaddress" placeholder="Địa chỉ thường trú"
                                         formControlName="a_permanentaddress"
                                         >
                                    </div>
                                    <div  *ngIf=" frcontract.controls['a_permanentaddress']?.hasError('required')
                                    && ( frcontract.controls['a_permanentaddress']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                                    >Vui lòng nhập địa chỉ thường trú !</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="a_phone"><h5>Số điện thoại<sup class="text-danger">(*)</sup></h5></label>
                                        <input type="text" class="form-control" name="a_phone" id="a_phone" placeholder="Số điện thoại"
                                         formControlName="a_phone"
                                         >
                                    </div>
                                    <div  *ngIf=" frcontract.controls['a_phone']?.hasError('required')
                                    && ( frcontract.controls['a_phone']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                                    >Vui lòng nhập số điện thoại !</div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-12 col-sm-12 col-xs-12" >
                                <div class="text-center font-weight-bold mb-3">
                                    <h6 class=" text-primary font-weight-bold">Bên B</h6>
                                    <small>(Bên thuê)</small>
                                </div>
            
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="b_lessee"><h5>Tên người thuê<sup class="text-danger">(*)</sup></h5></label>
                                        <input type="text" class="form-control form-control-user"  placeholder="Tên người thuê"
                                        name="b_lessee" id="b_lessee"  formControlName="b_lessee"
                                         >
                                    </div>
                                    <div  *ngIf=" frcontract.controls['b_lessee']?.hasError('required')
                                    && ( frcontract.controls['b_lessee']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                                    >Vui lòng nhập tên người thuê !</div>
                                </div>
            
                                <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="b_dateofbirth"><h5>Ngày sinh<sup class="text-danger">(*)</sup></h5></label>
                                        <input type="date" class="form-control" name="b_dateofbirth" id="b_dateofbirth" placeholder="Ngày sinh"
                                         formControlName="b_dateofbirth"
                                         >
                                    </div>
                                    <div  *ngIf=" frcontract.controls['b_dateofbirth']?.hasError('required')
                                    && ( frcontract.controls['b_dateofbirth']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                                    >Vui lòng nhập ngày sinh !</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="b_cccd"><h5>Căn cước công dân<sup class="text-danger">(*)</sup></h5></label>
                                        <input type="text" class="form-control" name="b_cccd" id="b_cccd" placeholder="Căn cước công dân"
                                         formControlName="b_cccd"
                                         >
                                    </div>
                                    <div  *ngIf=" frcontract.controls['b_cccd']?.hasError('required')
                                    && ( frcontract.controls['b_cccd']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                                    >Vui lòng nhập số căn cước công dân !</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="b_dateofissuance"><h5>Ngày cấp cccd<sup class="text-danger">(*)</sup></h5></label>
                                        <input type="date" class="form-control" name="b_dateofissuance" id="b_dateofissuance" placeholder="Ngày cấp cccd"
                                         formControlName="b_dateofissuance"
                                         >
                                    </div>
                                    <div  *ngIf=" frcontract.controls['b_dateofissuance']?.hasError('required')
                                    && ( frcontract.controls['b_dateofissuance']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                                    >Vui lòng nhập ngày cấp căn cước công dân !</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="b_placeofissuance"><h5>Nơi cấp cccd<sup class="text-danger">(*)</sup></h5></label>
                                        <input type="text" class="form-control" name="b_placeofissuance" id="b_placeofissuance" placeholder="Nơi cấp cccd"
                                         formControlName="b_placeofissuance"
                                         >
                                    </div>
                                    <div  *ngIf=" frcontract.controls['b_placeofissuance']?.hasError('required')
                                    && ( frcontract.controls['b_placeofissuance']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                                    >Vui lòng nhập nơi cấp căn cước công dân !</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="b_permanentaddress"><h5>Địa chỉ thường trú<sup class="text-danger">(*)</sup></h5></label>
                                        <input type="text" class="form-control" name="b_permanentaddress" id="b_permanentaddress" placeholder="Địa chỉ thường trú"
                                         formControlName="b_permanentaddress"
                                         >
                                    </div>
                                    <div  *ngIf=" frcontract.controls['b_permanentaddress']?.hasError('required')
                                    && ( frcontract.controls['b_permanentaddress']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                                    >Vui lòng nhập địa chỉ thường trú !</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="b_phone"><h5>Số điện thoại<sup class="text-danger">(*)</sup></h5></label>
                                        <input type="text" class="form-control" name="b_phone" id="b_phone" placeholder="Số điện thoại"
                                         formControlName="b_phone" appOnlyNumber
                                         >
                                    </div>
                                    <div  *ngIf=" frcontract.controls['b_phone']?.hasError('required')
                                    && ( frcontract.controls['b_phone']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                                    >Vui lòng nhập số điện thoại !</div>
                                </div>
                            </div>

                        </div>

                    </div>
                  
                    <div class="text-center">
                        <h6 class=" text-primary" >Thông tin phòng trọ</h6>
                    </div>
                    <hr>
                    <div class="container-fluid p-0 m-0">
                        <div class="row">
                            <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="branchid"><h5>Nhà trọ<sup class="text-danger">(*)</sup></h5></label>
                                        <select  class="form-control form-control-user"  placeholder="Nhà trọ"
                                        name="branchid" id="branchid"  formControlName="branchid" (change)="setSelectArea($event)" 
                                        >
                                            <option [ngValue]="null" [defaultSelected]="true" disabled>Chọn nhà trọ</option>
                                            <option *ngFor="let branch of  brancheSelect; index as i"   [value]="branch.id">{{branch.branchName}} </option>
                                        </select>
                                        <div  *ngIf="frcontract.controls['branchid']?.hasError('required')
                                        && (frcontract.controls['branchid']?.touched || (isValidFormSubmitted!= null && !isValidFormSubmitted)) " 
                                        class="help-block text-danger"
                                        >Vui lòng chọn nhà trọ !</div>
            
            
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="areaid"><h5>Dãy-tầng<sup class="text-danger">(*)</sup></h5></label>
                                        <select class="form-control form-control-user"  placeholder="Tên nhà trọ"
                                        name="areaid" id="areaid" formControlName="areaid" (change)="setSelectRoom($event)"
                                        >
                                            <option [ngValue]="null" [defaultSelected]="true" disabled>Chọn dãy tầng</option>
                                            <option  *ngFor="let area of  areaSelect; index as i" [value]="area.id"  >{{area.areaName}} </option>
                                        </select>
                                        <div  *ngIf="frcontract.controls['areaid']?.hasError('required')
                                        && (frcontract.controls['areaid']?.touched || (isValidFormSubmitted!= null && !isValidFormSubmitted)) " 
                                        class="help-block text-danger"
                                        >Vui lòng chọn dãy-tầng !</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="roomid"><h5>Phòng<sup class="text-danger">(*)</sup></h5></label>
                                        <select class="form-control form-control-user"  placeholder="Số phòng"
                                        name="roomid" id="roomid" formControlName="roomid" (change)="SelectRoom($event)"
                                        >
                                            <option [ngValue]="null" [defaultSelected]="true" disabled>Chọn phòng</option>
                                            <option  *ngFor="let roomItem of  roomSelect; index as i" [value]="roomItem.id"   >{{roomItem.roomNumber}} </option>
                                        </select>
                                        <div  *ngIf="frcontract.controls['roomid']?.hasError('required')
                                        && (frcontract.controls['roomid']?.touched || (isValidFormSubmitted!= null && !isValidFormSubmitted)) " 
                                        class="help-block text-danger"
                                        >Vui lòng chọn phòng !</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid p-0 m-0">
                        <div class="row">
                            <div class="col-12">
                                <p><b> Địa chỉ : </b><u>{{currentBranch.address}}</u> </p>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                                <p><b>Kiểu nhà trọ : </b>  {{currentBranch.houseType | housetype: true }}</p>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                               <p>
                                    <b>Gác lửng : </b>
                                    <span *ngIf="currentRoom.isMezzanine" > Có</span > 
                                    <span  *ngIf="!currentRoom.isMezzanine" > Không</span >
                                </p>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                                 <p><b>Diện tích phòng : </b>{{currentRoom.acreage}} m<sup>2</sup></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h6 class=" text-primary" >Thông tin thuê trọ</h6>
                    </div>
                    <hr> 
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="rentalprice"><h5>Giá cho thuê<sup class="text-danger">(*)</sup></h5></label>
                            <input type="text" class="form-control form-control-user"  placeholder="Giá cho thuê"
                            name="rentalprice" id="rentalprice"  formControlName="rentalprice" appOnlyNumber [value]="currentRoom.price"
                             >
                        </div>
                        <div  *ngIf=" frcontract.controls['rentalprice']?.hasError('required')
                        && ( frcontract.controls['rentalprice']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                        >Vui lòng nhập giá cho thuê !</div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="deposit"><h5>Tiền cọc<sup class="text-danger">(*)</sup></h5></label>
                            <input type="text" class="form-control form-control-user"  placeholder="Tiền cọc"
                            name="deposit" id="deposit"  formControlName="deposit" appOnlyNumber 
                             >
                        </div>
                        <div  *ngIf=" frcontract.controls['deposit']?.hasError('required')
                        && ( frcontract.controls['deposit']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                        >Vui lòng nhập tiền cọc !</div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="durationofhouselease"><h5>Thời hạn thuê nhà <sup class="text-danger">(*)</sup></h5></label>
                            <input type="number" class="form-control form-control-user"  placeholder="Thời hạn thuê nhà"
                            name="durationofhouselease" id="durationofhouselease"  formControlName="durationofhouselease" appOnlyNumber
                             >
                        </div>
                        <div  *ngIf=" frcontract.controls['durationofhouselease']?.hasError('required')
                        && ( frcontract.controls['durationofhouselease']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                        >Vui lòng nhập thời hạn thuê nhà !</div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="commencingon"><h5>Ngày bắt đầu<sup class="text-danger">(*)</sup></h5></label>
                            <input type="date" class="form-control form-control-user"  placeholder="Ngày bắt đầu"
                            name="commencingon" id="commencingon"  formControlName="commencingon"
                             >
                        </div>
                        <div  *ngIf=" frcontract.controls['commencingon']?.hasError('required')
                        && ( frcontract.controls['commencingon']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                        >Vui lòng nhập ngày bắt đầu !</div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="endingon"><h5>Ngày kết thúc<sup class="text-danger">(*)</sup></h5></label>
                            <input type="date" class="form-control form-control-user" placeholder="Ngày kết thúc"
                            name="endingon" id="endingon" formControlName="endingon"
                             >
                        </div>
                        <div  *ngIf=" frcontract.controls['endingon']?.hasError('required')
                        && ( frcontract.controls['endingon']?.touched || (isValidFormSubmitted != null && !isValidFormSubmitted) )" class="help-block text-danger"
                        >Vui lòng nhập ngày kết thúc !</div>
                    </div>

                    <hr>
                    <div class="form-group">
                         <div class="col-xs-12">
                            <input type="submit" class="btn btn-primary" value="Thêm">
                            <button type="reset" class="btn btn-outline-primary ml-2" >Đặt lại</button>
                          </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
