<div  [ngStyle]="{'display': styleTable}" >
    <a class="btn btn-primary" routerLink="/landlord/room/transact/add" >Thêm hợp đồng mới</a>
    <hr>
    <div class="table-responsive card shadow p-3">
        <table  datatable   [dtOptions]="dtOptions" class="row-border hover display table"></table>
    </div>
</div>



<ng-template #DetailModal let-modal  >

    <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" id="exampleModalLabel">Thông tin hợp đồng </h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.close()">
        <span class="text-light" aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body  ">

        <dl class="row ">
            <dt class="col-sm-4  ">
                Tên người thuê :
            </dt>
            <dd class = "col-sm-8">
                {{currentCTDetail.b_Lessee}}
            </dd>
            <dt class="col-sm-4 ">
                Ngày sinh :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.b_DateOfBirth}}
            </dd>
            <dt class="col-sm-4 ">
                CCCD :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.b_Cccd}}
            </dd>
            <dt class="col-sm-4 ">
                Ngày cấp :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.b_DateOfIssuance}}
            </dd>
            <dt class="col-sm-4 ">
                Nơi cấp : 
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.b_PlaceOfIssuance}}
            </dd>
            <dt class="col-sm-4 ">
                Địa chỉ thường trú:
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.b_PermanentAddress}}
            </dd>
            <dt class="col-sm-4 ">
                Số điện thoại :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.b_Phone}}
            </dd>
            <dt class="col-sm-4 ">
                Thuê phòng :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.roomNumber}}, {{currentCTDetail.houseType| housetype: false }}  {{currentCTDetail.areaName}}, nhà trọ {{currentCTDetail.branchName}} 
            </dd>
            <dt class="col-sm-4 ">
                Địa chỉ :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.branchAddress}}
            </dd>
            <dt class="col-sm-4 ">
                Giá thuê :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.rentalPrice | currency:"VND":"symbol"}}
            </dd>
            <dt class="col-sm-4 ">
                Giá điện :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.electricityCosts | currency:"VND":"symbol"}}
            </dd>
            <dt class="col-sm-4 ">
                Giá nước :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.waterCosts | currency:"VND":"symbol"}}
            </dd>
            <dt class="col-sm-4 ">
                Tiền cọc :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.deposit | currency:"VND":"symbol"}}
            </dd>
            <dt class="col-sm-4 ">
                Ngày bắt đầu :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.commencingOn}}
            </dd>
            <dt class="col-sm-4 ">
                Ngày kết thúc
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.endingOn}}
            </dd>
           
        </dl>
        
    </div>
    
    <div class="modal-footer">
        <button type="button"  class="btn btn-primary"  (click)="openLinkToTenantModal()" >Liên kết với tài khoản khách trọ </button>
        <button type="button" [disabled]="currentCTDetail.status=='Expirat'" class="btn btn-danger"  (click)="openEndContractModal()" >Kết thúc hợp đồng </button>
        <button type="button" class="btn btn-outline-primary" (click)="modal.close()">Đóng</button>
    </div>
    
</ng-template>

<ng-template #EndContractModal let-modal  >

    <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" id="exampleModalLabel">kết thúc hợp đồng </h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.close()">
        <span class="text-light" aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
        <p>Bạn chắc chắn kết thúc hợp đồng ?</p>
    </div>
    
    <div class="modal-footer">
        <button type="button"  class="btn btn-danger" (click)="endContract()"> Đồng ý </button>
        <button type="button" class="btn btn-outline-primary" (click)="modal.close()">Đóng</button>
    </div>
    
</ng-template>

<ng-template #LinkToTenantModal let-modal  >

    <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" id="exampleModalLabel">Liên kết tài khoản  khách trọ </h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.close()">
        <span class="text-light" aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body ">
        <div class="row m-1 mt-0">
            <label for="a_cccd"><h5>Tìm kiếm tài khoản khách trọ qua số điện thoại</h5></label>

            <div class="input-group mb-3">
                
                <input type="text" [(ngModel)]="searchTenantValue.phoneinput" #phoneinput="ngModel" required minlength="10" maxlength="10" appOnlyNumber class="form-control" placeholder="Số điện thoại" aria-label="Số điện thoại" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button (click)="tenantSearch()" [disabled]="phoneinput.errors?.['maxlength'] || phoneinput.errors?.['minlength'] || phoneinput.errors?.['required']" class="btn btn-primary" type="button" >Tìm</button>
                </div>
            </div>
        </div>
        <div *ngIf="tenant.success == true" class="row m-1 mt-0">
            <div class="col-9 " ><b>Tài khoản :</b> {{tenant.fullName}} <br> <b>Sinh ngày:</b> {{tenant.dateOfBirth}}</div>
            <div class="col-3">
                <button type="button"  class="btn btn-sm btn-primary" (click)=" openConfimToLinkModal() "> Liên kết </button>
            </div>
        </div>

    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modal.close()">Đóng</button>
    </div>
    
</ng-template>

<ng-template #ComfimToLinkModal let-modal >

    <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" id="exampleModalLabel">Xác nhận liên kết tài khoản </h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.close()">
        <span class="text-light" aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
        <p>Bạn chắc chắn liên kết hợp đồng với tài khoản này ?</p><br>
        <p class="text-danger">Chú ý !: Sau khi liên kết sẻ không thể thay đổi</p>
    </div>
    
    <div class="modal-footer">
        <button type="button"  class="btn btn-danger" (click)=" LinkToTenant()"> Đồng ý </button>
        <button type="button" class="btn btn-outline-primary" (click)="modal.close()">Đóng</button>
    </div>
    
</ng-template>