<div  [ngStyle]="{'display': styleTable}" >
    <a class="btn btn-primary" routerLink="/landlord/room/transact/add" >Thêm hợp đồng mới</a>
    <hr>
    <div class="table-responsive card shadow p-3">
        <table  datatable   [dtOptions]="dtOptions" class="row-border hover display table"></table>
    </div>
</div>



<ng-template #DetailModal let-modal  >

    <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" id="exampleModalLabel">Thông tin hợp đồng </h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.close()">
        <span class="text-light" aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body  ">

        <dl class="row ">
            <dt class="col-sm-4  ">
                Tên người thuê :
            </dt>
            <dd class = "col-sm-8">
                {{currentCTDetail.b_Lessee}}
            </dd>
            <dt class="col-sm-4 ">
                Ngày sinh :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.b_DateOfBirth}}
            </dd>
            <dt class="col-sm-4 ">
                CCCD :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.b_Cccd}}
            </dd>
            <dt class="col-sm-4 ">
                Ngày cấp :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.b_DateOfIssuance}}
            </dd>
            <dt class="col-sm-4 ">
                Nơi cấp : 
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.b_PlaceOfIssuance}}
            </dd>
            <dt class="col-sm-4 ">
                Địa chỉ thường trú:
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.b_PermanentAddress}}
            </dd>
            <dt class="col-sm-4 ">
                Số điện thoại :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.b_Phone}}
            </dd>
            <dt class="col-sm-4 ">
                Thuê phòng :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.roomNumber}}, {{currentCTDetail.houseType| housetype: false }}  {{currentCTDetail.areaName}}, nhà trọ {{currentCTDetail.branchName}} 
            </dd>
            <dt class="col-sm-4 ">
                Địa chỉ :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.branchAddress}}
            </dd>
            <dt class="col-sm-4 ">
                Giá thuê :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.rentalPrice | currency:"VND":"symbol"}}
            </dd>
            <dt class="col-sm-4 ">
                Giá điện :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.electricityCosts | currency:"VND":"symbol"}}
            </dd>
            <dt class="col-sm-4 ">
                Giá nước :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.waterCosts | currency:"VND":"symbol"}}
            </dd>
            <dt class="col-sm-4 ">
                Tiền cọc :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.deposit | currency:"VND":"symbol"}}
            </dd>
            <dt class="col-sm-4 ">
                Ngày bắt đầu :
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.commencingOn}}
            </dd>
            <dt class="col-sm-4 ">
                Ngày kết thúc
            </dt>
            <dd class="col-sm-8">
                {{currentCTDetail.endingOn}}
            </dd>
           
        </dl>
        
    </div>
    
    <div class="modal-footer">
        <button type="button" [disabled]="currentCTDetail.isLinkTenant==true || currentCTDetail.status=='Expirat'"  class="btn btn-primary"  (click)="openLinkToTenantModal()" >
            <span *ngIf="currentCTDetail.isLinkTenant==false"> Liên kết với tài khoản khách trọ </span>
            <span *ngIf="currentCTDetail.isLinkTenant==true"> Đã liên kết với tài khoản khách trọ </span>
            
        </button>
        <button type="button" [disabled]="currentCTDetail.status=='Expirat'" class="btn btn-danger"  (click)="openCreateInvoiceModal(currentCTDetail.roomId)" >Kết thúc hợp đồng </button>
        <button type="button" class="btn btn-outline-primary" (click)="modal.close()">Đóng</button>
    </div>
    
</ng-template>



<ng-template #LinkToTenantModal let-modal  >

    <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" id="exampleModalLabel">Liên kết tài khoản  khách trọ </h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.close()">
        <span class="text-light" aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body ">
        <div class="row m-1 mt-0">
            <label for="a_cccd"><h5>Tìm kiếm tài khoản khách trọ qua số điện thoại</h5></label>

            <div class="input-group mb-3">
                
                <input type="text" [(ngModel)]="searchTenantValue.phoneinput" #phoneinput="ngModel" required minlength="10" maxlength="10" appOnlyNumber class="form-control" placeholder="Số điện thoại" aria-label="Số điện thoại" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button (click)="tenantSearch()" [disabled]="phoneinput.errors?.['maxlength'] || phoneinput.errors?.['minlength'] || phoneinput.errors?.['required']" class="btn btn-primary" type="button" >Tìm</button>
                </div>
            </div>
        </div>
        <div *ngIf="tenant.success == true" class="row m-1 mt-0">
            <div class="col-9 " ><b>Tài khoản :</b> {{tenant.fullName}} <br> <b>Sinh ngày:</b> {{tenant.dateOfBirth}}</div>
            <div class="col-3">
                <button type="button"  class="btn btn-sm btn-primary" (click)=" openConfimToLinkModal() "> Liên kết </button>
            </div>
        </div>

    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modal.close()">Đóng</button>
    </div>
    
</ng-template>

<ng-template #ComfimToLinkModal let-modal >

    <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" id="exampleModalLabel">Xác nhận liên kết tài khoản </h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.close()">
        <span class="text-light" aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
        <p>Bạn chắc chắn liên kết hợp đồng với tài khoản này ?</p><br>
        <p class="text-danger">Chú ý !: Sau khi liên kết sẻ không thể thay đổi</p>
    </div>
    
    <div class="modal-footer">
        <button type="button"  class="btn btn-danger" (click)=" LinkToTenant()"> Đồng ý </button>
        <button type="button" class="btn btn-outline-primary" (click)="modal.close()">Đóng</button>
    </div>
    
</ng-template>

<ng-template #PayContractModal let-modal >

    <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" id="exampleModalLabel">Thanh toán kết thúc hợp đồng </h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.close()">
        <span class="text-light" aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body container-fluid">
        <form id="invoice-form"  novalidate  
        (ngSubmit)="onFormCreateInvoiceSubmit()" 
        [appValidGreater]="['oldwaternumber', 'newwaternumber']"
        [appValidGreaterTwo]="['oldelectricnumber', 'newelectricnumber']" 
          [formGroup]="frInvoice" #fi="ngForm"  >
            <div class="row">
                <div class="col-12">
                    <h5>Giá cho thuê : {{invoice.rentalPrice  |FormatVndPipe}}</h5>
                </div>
            </div>
            <hr>
            
            <div class="row">
                <div class="form-group col-sm-3">
                    <label > Số điện cũ</label>
                    <input type="number"  class="form-control" 
                    placeholder="Số điện cũ" appOnlyNumber required formControlName="oldelectricnumber" (change)="setEUse()"> 
                    <div  *ngIf="frInvoice.controls['oldelectricnumber']?.hasError('required')
                    && (frInvoice.controls['oldelectricnumber']?.touched || (isValidInvoiceFormSubmitted != null && !isValidInvoiceFormSubmitted )) " 
                    class="help-block text-danger"
                    >Vui lòng nhập chỉ số điện cũ !</div>

                </div>
                <div class="form-group col-sm-3">
                    <label > Số điện mới</label>
                    <input type="number"  class="form-control" 
                        placeholder="Số điện" appOnlyNumber required formControlName="newelectricnumber" (change)="setEUse()"> 
                    <div  *ngIf="frInvoice.controls['newelectricnumber']?.hasError('required')
                    && (frInvoice.controls['newelectricnumber']?.touched || (isValidInvoiceFormSubmitted != null && !isValidInvoiceFormSubmitted )) " 
                    class="help-block text-danger"
                    >Vui lòng nhập chỉ số điện !</div>

                    <div  *ngIf="frInvoice.controls['newelectricnumber']?.hasError('greater')
                    && (frInvoice.controls['newelectricnumber']?.touched || (isValidInvoiceFormSubmitted != null && !isValidInvoiceFormSubmitted )) " 
                    class="help-block text-danger"
                    >Chỉ số mới phải lớn hơn hoặc bằng chỉ số cũ !</div>

                </div>
                <div class="form-group col-sm-2">
                    <label > Số Kwh</label>
                    <p>{{elecNumber}}</p>
                </div>
                <div class="form-group col-sm-2">
                    <label > Đơn giá</label>
                    <p>{{invoice.electricityCosts |FormatVndPipe}}</p>
                </div>
                <div class="form-group col-sm-2">
                    <label >Tiền điện </label>
                    <p class="text-danger">{{elecPrice |FormatVndPipe}}</p>
                </div>
            </div> 

            <hr>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label > Số nước cũ</label>
                    <input type="number" #electric  class="form-control" 
                    placeholder="Số nước cũ" appOnlyNumber required formControlName="oldwaternumber" 
                    (change)="setWUse()"
                    >
                    <div  *ngIf="frInvoice.controls['oldwaternumber']?.hasError('required')
                    && (frInvoice.controls['oldwaternumber']?.touched || (isValidInvoiceFormSubmitted != null && !isValidInvoiceFormSubmitted )) " 
                    class="help-block text-danger"
                    > Vui lòng nhập chỉ số nước cũ !</div>
                    
                </div>
                <div class="form-group col-sm-3">
                    <label > Số nước mới</label>
                    <input type="number" #electric  class="form-control" 
                    placeholder="Số nước " appOnlyNumber required formControlName="newwaternumber" 
                    (change)="setWUse()"
                    >
                    <div  *ngIf="frInvoice.controls['newwaternumber']?.hasError('required')
                    && (frInvoice.controls['newwaternumber']?.touched || (isValidInvoiceFormSubmitted != null && !isValidInvoiceFormSubmitted )) " 
                    class="help-block text-danger"
                    > Vui lòng nhập chỉ số nước !</div>
                    <div  *ngIf="frInvoice.controls['newwaternumber']?.hasError('greater')
                    && (frInvoice.controls['newwaternumber']?.touched || (isValidInvoiceFormSubmitted != null && !isValidInvoiceFormSubmitted )) " 
                    class="help-block text-danger"
                    > Chỉ số mới phải lớn hơn hoặc bằng chỉ số cũ !</div>
                    
                </div>
                <div class="form-group col-sm-2">
                    <label > Số m<sup>2</sup></label>
                    <p>{{wanterNumber}}</p>
                </div>
                <div class="form-group col-sm-2">
                    <label > Đơn giá</label>
                    <p>{{invoice.waterCosts | FormatVndPipe}} </p>
                </div>
                <div class="form-group col-sm-2">
                    <label > Tiền nước </label>
                    <p class="text-danger">{{wanterPrice | FormatVndPipe }}</p>
                </div>
                
            </div>

            <hr>
            <div class="row">
                <div class="col-12">
                        <h5>Dịch vụ</h5>
                </div>
            </div>
            <div class="row">
                <table  class="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên dịch vụ</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th> 
                            <th>Thành tiền</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container formArrayName="services">
                            <ng-container *ngFor="let serviceItem of serviceItems.controls; index as i">
                                <ng-container [formGroupName]="i">
                                    <tr >

                                    <td for="">{{i+1}} </td>
            
                                    
                                        <td >
                                            <input type="text"  class="form-control"  formControlName="servicename" placeholder="Tên dịch vụ" />
                                            <div  *ngIf="serviceItems.controls[i].get('servicename')?.hasError('required')
                                                && (serviceItems.controls[i].get('servicename')?.touched || (isValidInvoiceFormSubmitted!= null && !isValidInvoiceFormSubmitted))" 
                                                class="help-block text-danger"
                                                >Vui lòng nhập tên dịch vụ !</div>
                                        </td>
                                        <td>
                                            <input type="number"  class="form-control" formControlName="quantity"  placeholder="Số lượng" (change)="setTotalPrice()" />
                                            <div  *ngIf="serviceItems.controls[i].get('quantity')?.hasError('required')
                                            && (serviceItems.controls[i].get('quantity')?.touched|| (isValidInvoiceFormSubmitted!= null && !isValidInvoiceFormSubmitted))" 
                                            class="help-block text-danger"
                                            >Vui lòng nhập số lượng !</div>
                                        </td>
            
                                        <td >
                                            <input type="number"  class="form-control"  formControlName="price" placeholder="Giá dịch vụ" (change)="setTotalPrice()" />
                                            <div  *ngIf="serviceItems.controls[i].get('price')?.hasError('required')
                                                && (serviceItems.controls[i].get('price')?.touched|| (isValidInvoiceFormSubmitted!= null && !isValidInvoiceFormSubmitted))" 
                                                class="help-block text-danger"
                                                >Vui lòng nhập giá dịch vụ !</div>
                                        </td>
                                        <td class="text-danger"> {{(serviceItems.controls[i].get('price')?.value)*(serviceItems.controls[i].get('quantity')?.value) |FormatVndPipe }} </td>
                                    
                                    </tr>
                                    <tr>
                                        <td>Ghi chú</td>
                                        <td colspan="3">
                                            
                                            <input type="text"  class="form-control" formControlName="description"    placeholder="Ghi chú"  />
                                        </td>
                                        <td>
                                            <button type="button" [disabled]="invoice.isApproved && invoice.id>0" (click)="removeSevices(i)"  class="btn btn-sm btn-danger" >Xóa</button>
                                        </td>

                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
                <div class="col-12">
                    <div class=" text-center">
                        <button type="button" [disabled]="invoice.isApproved && invoice.id>0" class="btn btn-sm btn-outline-primary" (click)="addSevices()">+ Thêm dịch vụ</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h5>Tiền trọ tháng {{invoice.month}}/{{invoice.year}}  : <span class="text-danger">{{totalPrice | FormatVndPipe }}</span></h5>
                <h5 *ngIf="!invoice.isApproved && invoice.id>0" class="text-info ml-3"> Đã lập hóa đơn </h5>
                <h5 *ngIf="invoice.isApproved && invoice.id>0" class="text-info ml-3"> Đã thanh toán </h5>
            </div>
            <div class="row">
                <h5>Tiền nợ : không</h5>
            </div>
            <hr>
            <div class="row">
                <h5>Tổng thanh toán : <span class="text-danger h4">{{totalPrice | FormatVndPipe }}</span></h5>
               
            </div>


        </form>
    </div>
    
    <div class="modal-footer">
        <button type="button"  class="btn btn-danger"> Đồng ý kết thúc hợp đồng </button>
        <button type="button" class="btn btn-outline-primary" (click)="modal.close()">Đóng</button>
    </div>
    
</ng-template>


<ng-template #EndContractModal let-modal >

    <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" id="exampleModalLabel">kết thúc hợp đồng </h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.close()">
        <span class="text-light" aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
        <p>Bạn chắc chắn kết thúc hợp đồng ?</p>
    </div>
    
    <div class="modal-footer">
        <button type="button"  class="btn btn-danger" (click)="endContract()"> Đồng ý </button>
        <button type="button" class="btn btn-outline-primary" (click)="modal.close()">Đóng</button>
    </div>
    
</ng-template>